@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the Casino Toral</h1><br /><br />
        <img src="https://media.giphy.com/media/3kK0Gry0fvKRCUGxw0/giphy.gif" />
        <h3 class="display-2"><a href="Home/ViewCards">Draw 5!</a></h3><br />
    </div>
